p{
    color: purple;
    font-size: 30px;
}
.btn{
    background-color: purple;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.btn {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
}
